[run]
source = space_rocks
omit =
    space_rocks/data/data_getter.py
    space_rocks/tests.py
    space_rocks/views/old_plot_magnitude.py
    space_rocks/CustomExceptions/__init__.py
    space_rocks/views/__init__.py
    space_rocks/scripts/__init__.py
    space_rocks/models/__init__.py
    space_rocks/__init__.py
    space_rocks/views/notfound.py
    space_rocks/models/meta.py
    space_rocks/CustomExceptions/custom_exceptions.py
    space_rocks/routes.py
    space_rocks/scripts/initializedb.py
[report]
show_missing = True