
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #dbe2e6
    background-color: #ffffff0f;
}

h1, h3, h5{
        color: #eef2f5;
}

h2, h4, h6, p .h1, .h2, .h3, .h4, .h5, .h6, .p{
    font-weight: 700;
    line-height: 1.1;
    font-family: 'Lato', sans-serif;
    color:#1189f1;
}

/*SpaceRocks title*/
img {
    float: left;
    opacity: 0.7;
    filter: alpha(opacity=70);
    border-radius: 23px;

}

.aboutus{
color:white;
padding:5px;
}

.left {
    width: 48%;
    float: left;
}

.title {
    font-size: 5em;
     color: White;
}

.title_two {
    color: #09599e;

}
.moving_text{
  color:white;
}

/*Nav bar*/

.navbar-default .navbar-nav>li>a {
    color: #000000c7;
}

nav {
    margin: 0 auto;
    margin-top: 3em;
    width: auto;
}


/*.navbar-default .navbar-nav {
    color: #088cf1;
}*/
#wrapper {
      margin: 0 auto;
      width: 100%;
      text-align: center;
}

nav ul li:hover {
  background-color: #0e7ed4;
 
}
/*navbar*/
li {
  display: block;
  font-size: 20px;
  margin-bottom: 1px;
  margin-right:auto;
  margin-left:auto;
  border-radius: 10px;
  text-align: center;
}

#navbar-toggle-cbox {
  display:none
}

#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

.navbar-default {
    background-color: #dddddd63;
    border-color: #9999991a;
}

/*
Video on page*/
* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
    top: 0;
    color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}


.bk-root {
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 10%;
}


/*Scorelling*/


#wrapper {
      margin: 0 auto;
      width: 100%;
      text-align: center;
}
/*nav ul li:hover {
  background-color: #0e7ed4;
}*/

li {
  display: block;
  font-size: 20px;
  margin-bottom: 1px;
  margin-right:auto;
  margin-left:auto;
  border-radius: 10px;
  text-align: center;

 
}


/*Distance Page Stylings*/

.distance_table {
  width: 100%;
}

.bk-bs-nav-tabs li {
  width: 150px;
  font-size: 14px;
}

.distance_page {
  background: black;
}

.distance_container {
  content: "";
  clear: both;
  display: table;
  width: 650px;
  height: 50px;
  margin: auto;
}

.earth {
  float: left;
  height: 50px;
  width: 50px;
  background: linear-gradient(to bottom left, #339933 0%, #003300 100%);
  border-radius: 50%;
}

.moon {
  float: right;
  height: 30px;
  width: 30px;
  margin-top: 15px;
  background: linear-gradient(to bottom left, #33ccff 0%, #003366 100%);
  border-radius: 50%;
}

.line {
  float: left;
  height: 5px;
  width: 520px;
  margin-top: 25px;
  margin-left: 25px;
  background-color: white;
}

.description_container {
  content: "";
  clear: both;
  display: table;
  width: 700px;
  margin: auto;
}

.earth_list {
  float: left;
  width: 100px;
  margin-left: -20px;
  text-align: left;
}

.moon_list {
  float: right;
  width: 120px;
}

.description_list {
  float: left;
  width: 450px;
  margin-left: 30px;
}

