.image_right {
    float: right;
    width: 40%;
}

.left {
    width: 48%;
    float: left;
}

.title {
    font-size: 5em;
}

.title_two {
    color: #3500d3;
}

#navbar-toggle-cbox {
  display:none
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}
body{
 background-color: black;
}