body {
    font-size: 1.5vw;
    color: #dbe2e6;
   font-family: 'Orbitron', sans-serif;
}

h1, h3, h5{
     color: #078cf7;
}

h2, h4, h6, p .h1, .h2, .h3, .h4, .h5, .h6, .p{
    line-height: 1.1;
    font-family: 'Orbitron', sans-serif;
    color:#1189f1;
}

/*SpaceRocks title*/
img {
    float: left;
    opacity: 0.7;
    filter: alpha(opacity=70);
    margin-right: 10px;
    border-radius: 23px;
    margin-bottom: 0.5%;

}
.font1{
   font-family: 'Source Sans Pro', sans-serif;
}
.aboutus {
    color: #151715c9;
    padding: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #047bda82;
    border-radius: 20px;
}


.title {
  font-size: 6vw;
  color: White;
  width: 100%;
  max-width: 100%;
  margin-top: 75px;
  margin-bottom: 50px;

}

.title_two {
  color: #09599e;
}

.title_text{
  font-family: 'Orbitron', sans-serif;
  font-weight: lighter;
  color: white;
}
.card-body{
    background-color: #040a0c9c;
    border-radius: 15px;
    padding:10px;
    text-align: center;
}
/*Distance Page Stylings*/

.distance_header {
  font-size: 5em;
  text-align: center;
}

.distance_description {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}

.distance_table {
  width: 100%;
  color: white;
}

.distance_table a {
  color: white;
}

.distance_table th, .distance_table td {
  width: 150px;
}

thead {
  display: inline-block;
  width: 80%;
  height: 20px;
}

tbody {
  height: 200px;
  display: inline-block;
  width: 80%;
  overflow: auto;
}

.top_button {
  margin: 10px;
  margin-top: 20px;
  padding: 5px;
  border: white solid 2px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.d_button {
  margin: 50px 0px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.d_container {
  width: 100%;
  display: block;
  clear: both;
  padding-left: 12%;
}

.d_button a {
  margin: 10px;
  padding: 5px;
  border: white solid 2px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.bk-bs-nav-tabs li {
  width: 150px;
  font-size: 14px;
}

.bk-bs-nav-tabs li:hover {
  color: #09599e;
}

.distance_page {
  background: rgba(0, 0, 0, 0.8);
}

.distance_container {
  content: "";
  clear: both;
  display: table;
  width: 650px;
  height: 50px;
  margin: auto;
}

.d_h2 {
  margin-top: 4%;
  display: inline-block;
  margin-left: 44%;
}

.earth {
  float: left;
  height: 50px;
  width: 50px;
  background: linear-gradient(to bottom left, #339933 0%, #003300 100%);
  border-radius: 50%;
}

.moon {
  float: right;
  height: 30px;
  width: 30px;
  margin-top: 15px;
  background: linear-gradient(to bottom left, #33ccff 0%, #003366 100%);
  border-radius: 50%;
}

.line {
  float: left;
  height: 5px;
  width: 520px;
  margin-top: 25px;
  margin-left: 25px;
  background-color: white;
}

.description_container {
  content: "";
  clear: both;
  display: table;
  width: 700px;
  margin: auto;
}

.earth_list {
  float: left;
  width: 100px;
  margin-left: -20px;
  text-align: left;
}

.moon_list {
  float: right;
  width: 120px;
}

.description_list {
  float: left;
  width: 450px;
  margin-left: 30px;
}

/*Navbar*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  height:100%;
  background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
}

nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 15px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: 'Orbitron', sans-serif;
  text-transform:uppercase;
  color: rgb(18, 134, 249);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

.video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
}

 table.center {
    max-width: 960px;
    margin-left:auto; 
    margin-right:auto;
}

