{% extends "layout.jinja2" %}

{% block content %}

        <div  style="clear: both;">
            <h1>Chaitanya</h1>
            <img src="../static/imgs/chai-t.jpg" width="200" height="220">
            <span class="adoutus"><h3>I have a background in Aerospace,Event management, Sales,
             e-commerce,Casino management.
            I am looking to apply My new  development skills to use an innovative,
            user-centric approach to solve problems for others.
            I believes that problem solving should be organic, data-driven, and iterative.
            In my spare time, you'll find me Watching Cosmos, Cooking, spending time with my dogs</h3></span>
        </div><hr>

        <div  style="clear: both;"><br><h1>David</h1>
            <img src="../static/imgs/david_profile.jpg" width="200" height="220">
            <span class="adoutus"><h3>I'm a Full Stack Engineer with a passion for Science and Technology. My background is Python, Java, and a variety of Web Frameworks. I love to study the Stars and I'm always looking for new projects.</h3></span>
        </div><hr>

        <div class="adoutus" style="clear: both;"><br><h1>Adrienne</h1>
            <img src="../static/imgs/" width="200" height="220">
           <span class="adoutus"><h3>I enjoy long walks on the beach, smooth jazz, and dining by the soft glow of Nexflix from my laptop. If sarcasm was a sport I would be the coach, and my impeccable use of the proper there/their/they're is awe-inspiring. I was in the Navy for five years, where I learned the human body can run off of less than three hours of sleep, caffiene is a food group, and iBuprofen fixes all of your problems.</h3></span>
        </div><hr>

        <div style="clear: both"><br><h1>Cody</h1>
            <img src="../static/imgs/cody_headshot.jpeg" width="200" height="220">
            <span class="adoutus"><h3>Hawaii born, Virginia raised, California shaped and now living the dream in serene Seattle. A babysitter of stylists turned developer. Will write code for cats.</h3></span>
        </div><hr>


{% endblock %}
