{% extends "layout.jinja2" %}

{% block content %}
<div style="width:68%;margin:0 auto;" >
        <div class="aboutus" style="clear: both;">
            <img src="../static/imgs/chai-t.jpg" width="200" height="220">
            <h1>Chaitanya</h1>
            <h3>I have a background in Aerospace and Event management
            I am looking to apply My new  development skills to use an innovative,
            user-centric approach to solve problems for others.
            I believes that problem solving should be organic, data-driven, and iterative.
            In my spare time, you'll find me Watching Cosmos, Cooking and spending time with my dogs</h3>
        </div><hr><br>

        <div class="aboutus" style="clear: both;">
            <img src="../static/imgs/david_profile.jpg" width="200" height="220">
            <h1>David</h1>
            <h3>I'm a Full Stack Engineer with a passion for Science and Technology. My background is Python, Java, and a variety of Web Frameworks. I love to study the Stars and I'm always looking for new projects.</h3></span>
        </div><hr><br>

        <div style="clear: both;" class="aboutus" >
            <img src="../static/imgs/cody_headshot.jpeg" width="200" height="220">
            <h1>Cody</h1>
            <h3>Hawaii born, Virginia raised, California shaped and now living the dream in serene Seattle. A babysitter of stylists turned developer. Will write code for cats.</h3>
        </div><hr><br>

        <div class="aboutus" style="clear: both;">
            <img src="../static/imgs/" width="200" height="220">
            <h1>Adrienne</h1>
            <h3></h3>
        </div><hr><br>

</div>

{% endblock %}
