{% extends "layout.jinja2" %}

{% block content %}

<div class="about-us">

    <div class="about-david"> Image | Brief Bio | Interests</div>
    <div class="about-adrienne">Image | Brief Bio | Interests</div>
    <div class="about-cody">Image | Brief Bio | Interests</div>
    <div class="about-chaitanya">Image | Brief Bio | Interests</div>

</div>

{% endblock %}