{% extends "layout.jinja2" %}

{% block content %}
    {% include '../static/abs_magnitude.html' %}
    
    <h1>Earth's is moving at approximately 30 km/s</h1>
    <h2>...About as fast as a speeding Bullet.</h2>
    <p>Absolute Magnitude is brightness at a standard distance of 10 parsecs -- aproximately the Kessel Run </p>
    <p>Relative Velocity is the speed and direction of a given body as it appears from another</p>
    <p>Mars has a velocity nearly 6 km/s relative to Earth has an absolute magnitude <p/>
    <p>A boeing 747 goes 885 km/hour --> or 0.245833 km/s</p>

{% endblock %}

