{% extends "layout.jinja2" %}

{% block content %}
    <marquee direction="left"><h1 class="moving_text">Earth's is moving at approximately 30 km/s</h1></marquee>
    <marquee direction="left"><h1 class="moving_text"><h2>About as fast as a speeding Bullet.
    Absolute Magnitude is brightness at a standard distance of 10 parsecs -- aproximately the Kessel Run
    Relative Velocity is the speed and direction of a given body as it appears from another
    Mars has a velocity nearly 6 km/s relative to Earth has an absolute magnitude 
    A boeing 747 goes 885 km/hour --> or 0.245833 km/s></h2></marquee>
    {% include '../static/abs_magnitude.html' %}

{% endblock %}

