{% extends "layout.jinja2" %}

{% block content %}
    <div class="content" class="dis">
    <h1 class="distance_header">NEOs Miss Distance</h1>

<main  class="content" class="distance_page">
    <div class="distance_container">
    <div class="earth"></div>
    <div class="line"></div>
    <div class="moon"></div>
        <ul class="earth_list">
            <li>Earth</li>
        </ul>
        <ul class="moon_list">
            <li>Moon</li>
        </ul>
        <ul class="description_list">
            <li>1 Lunar Distance</li>
            <li>0.00257 Astronomical Units</li>
            <li>384,400 Kilometers</li>
            <li>238,855 Miles</li>
        </ul>
    </div>
        <p>The following graph displays the miss distance of Near-Earth Objects (NEOs),
        measured from the center of Earth to the center of the NEO in Lunar Distance.</p>
        <p>Distance from Earth to center of asteroid glyphs are to scale,
        with asteroid size increased for visability.</p>
        <p>Scale of Earth and the Moon are described in legend</p> 
{% include '../static/graphs/distance.html' %}
    </div>



<div id="top" class="d_button">
    <h2>Distance Data Tables</h2>
    <a href="#one">14.5LD > NEOs > 5.5LD</a>
    <a href="#two">5.5LD > NEOs > 2.5LD</a>
    <a href="#three">2.5LD > NEOs > 1.5LD</a>
    <a href="#four">1.4LD > NEOs > 0.5LD</a>
    <a href="#five">0.5LD > NEOs</a>
</div>

<div class="content">
    <h3>14.5LD > NEOs > 5.5LD</h3>
<table class="responsive-table">
    <thead>
        <tr>
            <th scope="col">Neo ID</th>
            <th scope="col">Name</th>
            <th scope="col">AU</th>
            <th scope="col">L</th>
            <th scope="col">km</th>
            <th scope="col">miles</th>
            <th scope="col">Reference</th>
        </tr>
    </thead>
    <tbody>
        {% for neo in asteroids %}
        {% if neo.lunar < 14.5 and neo.lunar > 5.5 %}
        <tr>
            <td data-title="Neo ID">{{neo.neo_id}}</td>
            <td data-title="Name">{{neo.name}}</td>
            <td data-title="AU">{{neo.astronomical}}</td>
            <td data-title="L">{{neo.lunar}}</td>
            <td data-title="km">{{neo.kilometers}}</td>
            <td data-title="Miles">{{neo.miles}}</td>
            <td data-title="Reference"><a href="{{neo.url}}">Site</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>
<div class="content">
<a href="#top" class="top_button">Go to Top</a>
    <h3>5.5LD > NEOs > 2.5LD</h3>
<table class="responsive-table">
    <thead>
        <tr>
            <th scope="col">Neo ID</th>
            <th scope="col">Name</th>
            <th scope="col">AU</th>
            <th scope="col">L</th>
            <th scope="col">km</th>
            <th scope="col">miles</th>
            <th scope="col">Reference</th>
        </tr>
    </thead>
    <tbody>
        {% for neo in asteroids %}
        {% if neo.lunar < 5.5 and neo.lunar > 2.5 %}
        <tr>
            <td data-title="Neo ID">{{neo.neo_id}}</td>
            <td data-title="Name">{{neo.name}}</td>
            <td data-title="AU">{{neo.astronomical}}</td>
            <td data-title="L">{{neo.lunar}}</td>
            <td data-title="km">{{neo.kilometers}}</td>
            <td data-title="Miles">{{neo.miles}}</td>
            <td data-title="Reference"><a href="{{neo.url}}">Site</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>
<a href="#top" class="top_button">Go to Top</a>
<div class="content">
    <h3>2.5LD > NEOs > 1.5LD</h3>
<table class="responsive-table">
    <thead>
        <tr>
            <th scope="col">Neo ID</th>
            <th scope="col">Name</th>
            <th scope="col">AU</th>
            <th scope="col">L</th>
            <th scope="col">km</th>
            <th scope="col">miles</th>
            <th scope="col">Reference</th>
        </tr>
    </thead>
    <tbody>
        {% for neo in asteroids %}
        {% if neo.lunar < 2.5 and neo.lunar > 1.5 %}
        <tr>
            <td data-title="Neo ID">{{neo.neo_id}}</td>
            <td data-title="Name">{{neo.name}}</td>
            <td data-title="AU">{{neo.astronomical}}</td>
            <td data-title="L">{{neo.lunar}}</td>
            <td data-title="km">{{neo.kilometers}}</td>
            <td data-title="Miles">{{neo.miles}}</td>
            <td data-title="Reference"><a href="{{neo.url}}">Site</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>
<div class="content">
<a href="#top" class="top_button">Go to Top</a>
    <h3>1.4LD > NEOs > 0.5LD</h3>
<table class="responsive-table">
    <thead>
        <tr>
            <th scope="col">Neo ID</th>
            <th scope="col">Name</th>
            <th scope="col">AU</th>
            <th scope="col">LD</th>
            <th scope="col">km</th>
            <th scope="col">miles</th>
            <th scope="col">Reference</th>
        </tr>
    </thead>
    <tbody>
        {% for neo in asteroids %}
        {% if neo.lunar < 1.5 and neo.lunar > 0.5 %}
        <tr>
           <td data-title="Neo ID">{{neo.neo_id}}</td>
            <td data-title="Name">{{neo.name}}</td>
            <td data-title="AU">{{neo.astronomical}}</td>
            <td data-title="L">{{neo.lunar}}</td>
            <td data-title="km">{{neo.kilometers}}</td>
            <td data-title="Miles">{{neo.miles}}</td>
            <td data-title="Reference"><a href="{{neo.url}}">Site</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>
<div class="content">
<a href="#top" class="top_button">Go to Top</a>
    <h3>0.5LD > NEOs</h3>
<table class="responsive-table">
    <thead>
        <tr>
            <th scope="col">Neo ID</th>
            <th scope="col">Name</th>
            <th scope="col">AU</th>
            <th scope="col">L</th>
            <th scope="col">km</th>
            <th scope="col">miles</th>
            <th scope="col">Reference</th>
        </tr>
    </thead>
    <tbody>
        {% for neo in asteroids %}
        {% if neo.lunar < 0.5 %}
        <tr>
           <td data-title="Neo ID">{{neo.neo_id}}</td>
            <td data-title="Name">{{neo.name}}</td>
            <td data-title="AU">{{neo.astronomical}}</td>
            <td data-title="L">{{neo.lunar}}</td>
            <td data-title="km">{{neo.kilometers}}</td>
            <td data-title="Miles">{{neo.miles}}</td>
            <td data-title="Reference"><a href="{{neo.url}}">Site</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>
<a href="#top" class="top_button">Go to Top</a>
</main>
{% endblock %}