{% extends "layout.jinja2" %}

{% block content %}
<main class="distance_page">
    <h1 class="distance_header">NEOs Miss Distance</h1>
    <div class="distance_container">
    <div class="earth"></div>
    <div class="line"></div>
    <div class="moon"></div>
    </div>
    <div class="description_container">
        <ul class="earth_list">
            <li>Earth</li>
        </ul>
        <ul class="description_list">
            <li>1 Lunar Distance</li>
            <li>0.00257 Astronomical Units</li>
            <li>384,400 Kilometers</li>
            <li>238,855 Miles</li>
        </ul>
        <ul class="moon_list">
            <li>Moon</li>
        </ul>
    </div>
    <div class="distance_description">
        <h2>Distance Data</h2>
        <p>The following graph displays the miss distance of Near-Earth Objects (NEOs),
        measured from the center of Earth to the center of the NEO.</p>
        <p>Distance from Earth to center of asteroid glyphs are to scale,
        with asteroid size increased for visability.</p>
        <p>Scale of Earth and the Moon are described in legend</p> 
    </div>

    <div class="d_container">
{% include '../static/graphs/distance.html' %}
</div>

<h2 class="d_h2">Distance Data Tables</h2>

<div id="top" class="d_button">
    <a href="#one">14.5LD > NEOs > 5.5LD</a>
    <a href="#two">5.5LD > NEOs > 2.5LD</a>
    <a href="#three">2.5LD > NEOs > 1.5LD</a>
    <a href="#four">1.4LD > NEOs > 0.5LD</a>
    <a href="#five">0.5LD > NEOs</a>
</div>

<div id="one" class="t_container">
    <h3>14.5LD > NEOs > 5.5LD</h3>
<table class="distance_table">
    <thead>
        <tr>
            <th>Neo ID</th>
            <th>Name</th>
            <th>AU</th>
            <th>L</th>
            <th>km</th>
            <th>miles</th>
            <th>Reference</th>
        </tr>
    </thead>
    <tbody>
        {% for neo in asteroids %}
        {% if neo.lunar < 14.5 and neo.lunar > 5.5 %}
        <tr>
            <td>{{neo.neo_id}}</td>
            <td>{{neo.name}}</td>
            <td>{{neo.astronomical}}</td>
            <td>{{neo.lunar}}</td>
            <td>{{neo.kilometers}}</td>
            <td>{{neo.miles}}</td>
            <td><a href="{{neo.url}}">Site</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<a href="#top">Go to Top</a>
</div>
<div id="two" class="t_container">
    <h3>5.5LD > NEOs > 2.5LD</h3>
<table class="distance_table">
    <thead>
        <tr>
            <th>Neo ID</th>
            <th>Name</th>
            <th>AU</th>
            <th>L</th>
            <th>km</th>
            <th>miles</th>
            <th>Reference</th>
        </tr>
    </thead>
    <tbody>
        {% for neo in asteroids %}
        {% if neo.lunar < 5.5 and neo.lunar > 2.5 %}
        <tr>
            <td>{{neo.neo_id}}</td>
            <td>{{neo.name}}</td>
            <td>{{neo.astronomical}}</td>
            <td>{{neo.lunar}}</td>
            <td>{{neo.kilometers}}</td>
            <td>{{neo.miles}}</td>
            <td><a href="{{neo.url}}">Site</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<a href="#top">Go to Top</a>
</div>
<div id="three" class="t_container">
    <h3>2.5LD > NEOs > 1.5LD</h3>
<table class="distance_table">
    <thead>
        <tr>
            <th>Neo ID</th>
            <th>Name</th>
            <th>AU</th>
            <th>L</th>
            <th>km</th>
            <th>miles</th>
            <th>Reference</th>
        </tr>
    </thead>
    <tbody>
        {% for neo in asteroids %}
        {% if neo.lunar < 2.5 and neo.lunar > 1.5 %}
        <tr>
            <td>{{neo.neo_id}}</td>
            <td>{{neo.name}}</td>
            <td>{{neo.astronomical}}</td>
            <td>{{neo.lunar}}</td>
            <td>{{neo.kilometers}}</td>
            <td>{{neo.miles}}</td>
            <td><a href="{{neo.url}}">Site</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<a href="#top">Go to Top</a>
</div>
<div id="four" class="t_container">
    <h3>1.4LD > NEOs > 0.5LD</h3>
<table class="distance_table">
    <thead>
        <tr>
            <th>Neo ID</th>
            <th>Name</th>
            <th>AU</th>
            <th>LD</th>
            <th>km</th>
            <th>miles</th>
            <th>Reference</th>
        </tr>
    </thead>
    <tbody>
        {% for neo in asteroids %}
        {% if neo.lunar < 1.5 and neo.lunar > 0.5 %}
        <tr>
            <td>{{neo.neo_id}}</td>
            <td>{{neo.name}}</td>
            <td>{{neo.astronomical}}</td>
            <td>{{neo.lunar}}</td>
            <td>{{neo.kilometers}}</td>
            <td>{{neo.miles}}</td>
            <td><a href="{{neo.url}}">Site</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<a href="#top">Go to Top</a>
</div>
<div id="five" class="t_container">
    <h3>0.5LD > NEOs</h3>
<table class="distance_table">
    <thead>
        <tr>
            <th>Neo ID</th>
            <th>Name</th>
            <th>AU</th>
            <th>L</th>
            <th>km</th>
            <th>miles</th>
            <th>Reference</th>
        </tr>
    </thead>
    <tbody>
        {% for neo in asteroids %}
        {% if neo.lunar < 0.5 %}
        <tr>
            <td>{{neo.neo_id}}</td>
            <td>{{neo.name}}</td>
            <td>{{neo.astronomical}}</td>
            <td>{{neo.lunar}}</td>
            <td>{{neo.kilometers}}</td>
            <td>{{neo.miles}}</td>
            <td><a href="{{neo.url}}">Site</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<a href="#top">Go to Top</a>
</div>
</main>
{% endblock %}