{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    <h1 class="title">SPACE <span class="title_two">ROCKS</span></h1>
 <h2>There are many asteroid orbiting our Planet</h2>
    <div class="left">
     <p>This Near Earth Objects, or NEOs are closer in proxity to Earth than the Moon</p>
     <p>It is our goal to identify these objects so that we may learn more about them</p>
     <p>Some may be a threat to Earth's survival, others may harbor valuable resources</p>
     <p>We intend to discover more</p>
    </div>
    <img src="https://www.nasa.gov/sites/default/files/comet_on_3_august_2014.png" class="image_right">
</div>
{% endblock content %}