{% extends "layout.jinja2" %}

{% block content %}
    <div> <h1 class="title">SPACE <span class="title_two">ROCKS</span></h1></div>
    <br><br><br><br><br><br><br><br><br><br>
    <marquee direction="left"><h1 class="title_two">There are many asteroid orbiting our Planet
    This Near Earth Objects, or NEOs are closer in proxity to Earth than the Moon
    It is our goal to identify these objects so that we may learn more about them
    Every day, Earth is bombarded with more than 100 tons of dust and sand-sized particles.
    About once a year, an automobile-sized asteroid hits Earth's atmosphere, creates an impressive fireball, and burns up before reaching the surface.
    Every 2,000 years or so, a meteoroid the size of a football field hits Earth and causes significant damage to the area.
    Only once every few million years, an object large enough to threaten Earth's civilization comes along. Impact craters on Earth, the moon and other planetary bodies are evidence of these occurrences.
    Space rocks smaller than about 25 meters (about 82 feet) will most likely burn up as they enter the Earth's atmosphere and cause little or no damage.
    If a rocky meteoroid larger than 25 meters but smaller than one kilometer ( a little more than 1/2 mile) were to hit Earth, it would likely cause local damage to the impact area.
    We believe anything larger than one to two kilometers (one kilometer is a little more than one-half mile) could have worldwide effects. At 5.4 kilometers in diameter, the largest known potentially hazardous asteroid is Toutatis.
    By comparison, asteroids that populate the main asteroid belt between Mars and Jupiter,  can be as big as 940 kilometers (about 583 miles) across.</h1></marquee>
{% endblock content %}