{% extends "layout.jinja2" %}

{% block content %}
    <div class="content" class="title" div align="center" class="logo"> <h2 class="title">SPACE<span class="title_two">ROCKS</h2></span></div>

{% endblock content %}