<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="pyramid web application">
      <meta name="author" content="Pylons Project">
      <link rel="icon" href="{{ request.static_url('space_rocks:static/imgs/asteroids-icon.png') }}">
      <link href="http://cdn.pydata.org/bokeh/release/bokeh-x.y.z.min.css" rel="stylesheet" type="text/css">
  <!-- Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
      <title>SpaceRocks</title>
  <!-- Custom styles for this scaffold -->
      <link href="{{request.static_url('space_rocks:static/css/style.css')}}" rel="stylesheet">
  </head>
<body>
  <!-- Vedio links  -->
    <div class="video-background">
    <div class="video-foreground">
    <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe> 
    <!-- <iframe src="https://www.youtube.com/embed/hBTS2CRl_hI?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe> -->
    <!-- <iframe src="https://www.youtube.com/embed/IDrPm0aD4og?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe> -->
    </div></div><div id="vidtop-content"></div>
<!-- Nav Bar -->
<nav>
  <ul>
    <li><a href="{{ request.route_url('home') }}">Home</a></li>
    <li><a href="{{ request.route_url('size') }}">Size</a></li>
    <li><a href="{{ request.route_url('distance') }}">Distance</a></li>
    <li><a href="{{ request.route_url('orbits') }}">Orbits</a></li>
    <li><a href="{{ request.route_url('absmag') }}">Abs-Mag</a></li>
    <li><a href="{{ request.route_url('about') }}">About</a></li>
</ul>
</nav>

     
      {% block content %}{% endblock %}
  

  </body>
  <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>
</html>
