<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="pyramid web application">
      <meta name="author" content="Pylons Project">
      <link rel="icon" href="{{ request.static_url('space_rocks:static/imgs/asteroids-icon.png') }}">
  <!-- Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
      <title>SpaceRocks</title>
  <!-- Custom styles for this scaffold -->
      <link href="{{request.static_url('space_rocks:static/css/style.css')}}" rel="stylesheet">
  </head>
<body>
  <!-- Vedio links  -->
<video playsinline autoplay muted loop class="video">

    <source src="static/imgs/background.mp4" type="video/mp4">
</video>
<!-- Nav Bar -->





<nav class="content">
  <ul>
    <li><a href="{{ request.route_url('home') }}">Home</a></li>
    <li><a href="{{ request.route_url('size') }}">Size</a></li>
    <li><a href="{{ request.route_url('distance') }}">Distance</a></li>
    <li><a href="{{ request.route_url('orbits') }}">Orbits</a></li>
    <li><a href="{{ request.route_url('absmag') }}">Abs-Mag</a></li>
    <li><a href="{{ request.route_url('about') }}">About</a></li>
</ul>
</nav>

     
      {% block content %}{% endblock %}
  

  </body>

</html>