{% extends "layout.jinja2" %}

{% block content %}
<main class="content" class="distance_page">
<h1>Orbits</h1>
<div class="distance_description">
<p>An asteroid's orbit is computed by finding the elliptical path about the sun 
    that best fits the available observations of the object. 
    That is, the object's computed path about the sun is adjusted until the predictions
    of where the asteroid should have appeared in the sky at several observed times match 
    the positions where the object was actually observed to be at those same times. 
    As more and more observations are used to further improve an object's orbit.</p>
</div>

{# <div id="top" class="d_button">
    <a href="#one">Near Earth Asteroids</a>
    <a href="#two">Atens</a>
    <a href="#three">Apollos</a>
    <a href="#four">Amors </a>
</div> #}

<div>
    <h3>Near-Earth Asteroids</h3>
    <h4>q < 1.3AU</h4>
<table class="responsive-table">
    <thead>
        <tr>
            <th scope="col">Neo ID</th>
            <th scope="col">Name</th>
            <th scope="col">Orbital Period</th>
            <th scope="col">Eccentricity</th>
            <th scope="col">Reference</th>
        </tr>
    </thead>
    <tbody >
        {% for neo in Orbits %}
        {% if neo.perihelion_dist < 1.3 %}
        <tr>
            <td data-title="Neo Id">{{neo.neo_id}}</td>
            <td data-title="Name">{{neo.name}}</td>
            <td data-title="Orbital Period">{{neo.orbit_period}}</td>
            <td data-title="Eccentricity">{{neo.eccentricity}}</td>
            <td data-title="Reference"><a href="{{neo.url}}">Site</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>
<a href="#top" class="top_button">Go to Top</a>


<div>
    <h3>Atens</h3>
    <h4>Q > 0.983AU and a < 1.0AU</h4>
<table class="responsive-table">
    <thead>
        <tr>
            <th scope="col">Neo ID</th>
            <th scope="col">Name</th>
            <th scope="col">Orbital Period</th>
            <th scope="col">Eccentricity</th>
            <th scope="col">Reference</th>
        </tr>
    </thead>
    <tbody >
        {% for neo in Orbits %}
        {% if neo.aphelion_dist > 0.983 and neo.eccentricity < 1 %}
        <tr>
           <td scope="row" data-title="Neo Id">{{neo.neo_id}}</td>
            <td data-title="Name">{{neo.name}}</td>
            <td data-title="Orbital Period">{{neo.orbit_period}}</td>
            <td data-title="Eccentricity">{{neo.eccentricity}}</td>
            <td data-title="Reference"><a href="{{neo.url}}">Site</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>
<a href="#top" class="top_button">Go to Top</a>

<div>
    <h3>Apollos</h3>
    <h4>q < 1.017AU and a > 1.0AU</h4>
<table class="responsive-table">
    <thead>
        <tr>
            <th scope="col">Neo ID</th>
            <th scope="col">Name</th>
            <th scope="col">Orbital Period</th>
            <th scope="col">Eccentricity</th>
            <th scope="col">Reference</th>
        </tr>
    </thead>
    <tbody>
        {% for neo in Orbits %}
        {% if neo.perihelion_dist < 1.017 %}
        <tr>
           <td scope="row" data-title="Neo Id">{{neo.neo_id}}</td>
            <td data-title="Name">{{neo.name}}</td>
            <td data-title="Orbital Period">{{neo.orbit_period}}</td>
            <td data-title="Eccentricity">{{neo.eccentricity}}</td>
            <td data-title="Reference"><a href="{{neo.url}}">Site</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>
<a href="#top" class="top_button">Go to Top</a>

<div>
    <h3>Amors</h3>
    <h4>1.017AU < q < 1.3AU</h4>
<table class="responsive-table">
    <thead>
        <tr>
            <th scope="col">Neo ID</th>
            <th scope="col">Name</th>
            <th scope="col">Orbital Period</th>
            <th scope="col">Eccentricity</th>
            <th scope="col">Reference</th>
        </tr>
    </thead>
    <tbody>
        {% for neo in Orbits %}
        {% if neo.perihelion_dist > 1.017 and neo.perihelion_dist < 1.3 %}
        <tr>
          <td  scope="row" data-title="Neo Id">{{neo.neo_id}}</td>
            <td data-title="Name">{{neo.name}}</td>
            <td data-title="Orbital Period">{{neo.orbit_period}}</td>
            <td data-title="Eccentricity">{{neo.eccentricity}}</td>
            <td data-title="Reference"><a href="{{neo.url}}">Site</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>
<a href="#top" class="top_button">Go to Top</a>
</main>
{% endblock %}
 