{% extends "layout.jinja2" %}

{% block content %}
<marquee direction="left"><h1 class="title_text">
    An asteroid's orbit is computed by approximating its elliptical path about the Sun. 
    Multiple observations are made to best predict its position.</h1></marquee>
    <div style="width:68%;margin:0 auto;">
    {% for neo in Orbits %}
    <div class="clearfix">
    <div class="card-body">
    <h1>Name of NEO : {{neo.name}}</h1>
    <h3 class="font1">ID #: {{neo.neo_id}}</h3>
    <h3 class="font1">Orbit Peroid : {{neo.orbit_period}}</h3>
    <h3 class="font1">Perinelion distance : {{neo.perihelion_dist}}</h3>
    <h3 class="font1">Aphelion distance : {{neo.aphelion_dist}}</h3>
    <h3 class="font1">Eccentricity : {{neo. eccentricity}}</h3>
    <a href ="{{neo.url}}" target="_blank" class="btn btn-secondary"><h2>Indepth Orbit Detail &rarr;</h2></a>
</div>
<br>
</div>
    {% endfor %}
</div>
{% endblock %}
 