{% extends "layout.jinja2" %}

{% block content %}
{% include 'space_rocks:static/graphs/size.html' %}
<h1>Size</h1>
<div class="float_right">
<h2>Size of the asteroids as compared to elephants lined up trunk to tail.</h2>
<h3>If you decide you really don't like one of the displayed years you can go ahead and click on it to remove its display from the graph.</h3>
</div>
{% endblock %}